# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test / coverage / logs
.pytest_cache/
.coverage
htmlcov/
*.log

*.db
*.sqlite3

test_obd2.py

CLAUDE.md
